* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans KR', 'Arial' sans-serif;
    background-color: #f9f9f9;
    padding-left: 15%;
    padding-right: 15%;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
  }
button{
    background: inherit ; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer
  }
/*HEADER*/
  header {
      position: fixed;
      width: 100%;
      height: 102px;
      top: 0;
      left: 0;
      background-color: #1a4d2e;
      z-index: 5;
    }
    .user_login{
      position: absolute;
      top: 8px;
      right: 150px;
      font-family: "Noto Sans KR-Bold", Helvetica;
      font-weight: 500;
      color: #f5efe6;
      font-size: 24px;
      text-decoration: none;
    }
    .user_login:hover{
      text-decoration: underline;
    }
    .reserv_view {
      position: absolute;
      top: 8px;
      right: 30px;
      font-family: "Noto Sans KR-Bold", Helvetica;
      font-weight: 500;
      color: #f5efe6;
      font-size: 24px;
      text-decoration: none;
    }
    .reserv_view:hover{
      text-decoration: underline;
    }
    .logo-small {
      position: absolute;
      width: 225px;
      height: 102px;
      top: 0;
      left: calc(50% - 112.5px);
    }
    .reserv_make{
      position: absolute;
      text-decoration: none;
      top: 22px;
      left: 59px;
      font-family: "Noto Sans KR-Bold", Helvetica;
      font-weight: 700;
      color: #1a4d2e;
      font-size: 24px;
      text-align: center;
      background-color: #f5efe6;
      border-radius: 5px;
      padding: 12px 40px;
    }
    .reserv_make:hover{
      color: #f5efe6;
      background-color: #4f6f52;
      cursor: pointer;
    }
/*NAV*/
    .main-nav {
      position: absolute;
      width: 100%;
      top: 102px;
      left: 0;
  }
  .navbar {
      position: relative;
      display: flex;
      align-content: space-between;
      width: 100%;
      height: 60px;
      background-color: #f5efe699;
  }
  .navbar-menu{
     width: 25%;
     text-align: center;
     padding: 8px 0;
  }
  .navbar-menu>a{
      text-decoration: none;
      font-family: "Noto Sans KR-Medium", Helvetica;
      font-weight: 500;
      color: #1a4d2e;
      font-size: 30px;
  }
  .nav-menu{
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #f5efe699;
      display: flex;
  }
  .nav-col{
      width: 25%;
      display: none;
  }
  .nav-col>a{
      width: 100%;
      display: block;
      text-decoration: none;
      color: #1a4d2e;
      font-weight: 500;
      text-align: center;
      font-family: "Noto Sans KR-Medium", Helvetica;
      font-size: 21px;
      padding: 15px 0;
  }
  .nav-col>a:hover{
      background-color: #c4bcb599;
  }
/*HAM,HAM-NAV*/
    .ham{
      display: none;
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
    }
    .ham div {
      width: 30px;
      height: 3px;
      background-color: #1a4d2e; 
      margin: 6px 0; 
    }
    .ham-nav{
      display: none;
      position: absolute;
      top: 102px;
      width: 100%;
      background-color: #f5efe6;
      padding: 15px;
    }
    #ham-user-login{
      text-decoration: none;
      color: #1a4d2e;
      font-size: 20px;
      font-weight: 500;
      margin-right: 30px;
    }
    #ham-user-login:hover{
      text-decoration: underline;
    }
    #ham-reserv-view{
      text-decoration: none;
      color: #1a4d2e;
      font-size: 20px;
      font-weight: 500;
      margin-right: 30px;
    }
    #ham-reserv-view:hover{
      text-decoration: underline;
    }
    .ham-nav-col{
      text-align: left;
      width: 100%;
      background-color: #f5efe6;
    }
    .ham-nav-col>p{
      border-bottom: 1px solid #4f6f52;
      font-size: 25px;
      font-weight: 500;
      color: #1a4d2e;
      width: 100%;
      background-color: #f5efe6;
    }
    .ham-nav-col>a{
      display: block;
      text-decoration: none;
      background-color: #f5efe6;
      color: #1a4d2e;
      width: 100%;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .ham-nav-col>a:hover{
      background-color: #c4bcb599;
    }
    @media (max-width: 768px) {
      header{
        background-color: #f5efe6;
        z-index: 5;
      }
      header>a{
        display: none;
      }
      .main-nav{
        display: none;
      }
      .ham{
        display: block;
        position: fixed;
        z-index: 5;
      }
      .ham-nav{
        display: none;
      }
    }
/*FOOTER*/
footer {
    background-color: #1a4d2e;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 14px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-logo {
    max-width: 400px;
  }
  
  .footer-logo img {
    width: 150px;
    margin-bottom: 15px;
  }
  
  .footer-logo p {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  
  .footer-links ul {
    list-style-type: none;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links li strong{
    color: #f5efe6;
    font-size: 18px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px 0;
    }
  
    .footer-logo {
      margin-bottom: 20px;
    }
  
    .footer-links {
      flex-direction: row;
      gap: 10px;
    }
  }

/*LOGIN*/
.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 40px 0;
}

.login-image-section {
    flex: 1;
    padding-right: 20px;
}

.login-image-slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.login-image-slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: none; /* 슬라이드 이미지를 처음엔 숨김 */
}

.login-image-slider img.active {
    display: block; /* 활성화된 이미지 표시 */
}

.login-section {
    flex: 0.4;
    background-color: #f5f1e7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #1a4d2e;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginsubmit {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #1a4d2e;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
#userregister {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #c4bcb599;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.login-container a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #1a4d2e;
    text-align: center;
}
.login-container a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .image-section {
        display: none; /* 작은 화면에서 이미지 숨김 */
    }

    .login-section {
        flex: 1; /* 로그인 폼이 전체 너비를 차지하도록 설정 */
        max-width: 100%;
    }
}

/*RESEVATION-SELECTION*/
.reservation-section {
  margin-top: 0; /* 헤더와 딱 붙게 여백 제거 */
}

.reservation-section h1 {
  background-color: #4a6543; /* 초록색 배경 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* 상하 여백 추가 */
  margin-top: 0; /* 위아래 여백 제거 */
  margin-bottom: 40px;
  font-size: 2em; /* 텍스트 크기 설정 */
  font-weight: bold; /* 굵은 텍스트 */
  letter-spacing: 5px;
}

.date-selection {
  text-align: center;
  margin-bottom: 50px;
}

.date-selection p {
  font-size: 1.5em; /* 텍스트 크기를 크게 설정 */
  color: #2f4e2a; /* 텍스트 색상을 헤더 색상과 동일하게 설정 */
  font-weight: bold; /* 강조하기 위해 굵게 설정 */
  text-align: center; /* 중앙 정렬 */
  margin-bottom: 20px; /* 아래쪽 여백 추가 */
}

.reservation-container {
  max-width: 1200px; /* 동일한 최대 너비로 설정 (1200px) */
  margin: 0 auto; /* 중앙 정렬 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d3d3d3;
  padding: 30px;
  background-color: #f5f5f5;
}

.api-placeholder {
  flex: 2;
  background-color: #d3d3d3;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #777;
  margin-right: 20px;
}

.guest-selection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.select-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.select-input-group label {
  font-size: 1em;
  font-weight: bold;
}

.control-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control-button {
  width: 35px;
  height: 35px;
  background-color: #2f4e2a;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.control-button:hover {
  background-color: #2e8b57;
}

#roomCount, #guestCount {
  width: 50px;
  text-align: center;
  font-size: 1.2em;
  padding: 5px 0;
}

.room-search-button {
  background-color: #2f4e2a;
  color: #ffffff;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  align-self: center;
  font-size: 1.1em;
  margin-top: 20px;
}

.room-search-button:hover {
  background-color: #2e8b57;
}

.recommended-rooms {
  max-width: 1200px; /* 동일한 최대 너비로 설정 (1200px) */
  margin: 0 auto; /* 중앙 정렬 */
  text-align: center;
  margin-top: 60px;
}

.recommended-rooms h2 {
  color: #2f4e2a;
  margin-bottom: 30px;
}

.rooms-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 40px;
  padding: 0 20px;
}

.room-card {
  border: 1px solid #e0e0e0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.room-card:hover {
  background-color: #F5EFE6;
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.room-card img {
  width: 100%;
  height: 280px; /* 고정된 높이 */
  object-fit: cover; /* 이미지 비율 유지하면서 박스에 맞게 자르기 */
  margin-bottom: 15px;
  border-radius: 5px; /* 조금 더 부드러운 느낌을 위해 추가 */
}

.room-card p {
  text-align: center;
  color: #333;
  font-size: 1em;
  line-height: 1.5;
}

.next-button {
  background-color: #1a4d2e;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 30px;
}

.next-button:hover {
  background-color: #4a6543;
}
@media (max-width: 768px) {
    
  .reservation-container {
      flex-direction: column;
      gap: 20px;
  }

  .rooms-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/*RESERVATION-CONFIRM*/
.reservation-confirmation h1 {
  background-color: #4a6543;
  color: #f5efe6;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 5px;
}

.reservation-confirmation h2 {
  color: #4a6543;
  font-size: 1.5em;
  margin: 40px 0 20px;
}

.reservation-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #d3d3d3;
}

.room-image{
  padding-right: 30px;
  border-right: 2px solid #A1A1A1; 
}

.room-image img {
  width: 300px;
  height: 250px;
}

.reservation-confirm-info {
  
  flex: 1;
  margin-left: 20px;
  font-size: 1em;
  line-height: 1.6;
}

.reservation-info p{
  padding: 5px 30px;
}

.guest-info,
.discount-info,
.payment-info {
  margin-top: 40px;
}

h2 {
  font-size: 1.5em;
  color: #4a6543;
  margin-bottom: 20px;
}

.reserv-input-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reserv-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reserv-input-group label {
  width: 100px;
  font-weight: bold;
}

.reserv-input-group>input[type="text"] {
  padding: 10px;
  border: 1px solid #d3d3d3;
  width: 200px; /* 기본 너비 설정 */
  max-width: 100%; /* 화면에 맞춰 조정되도록 설정 */
  box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
}

.sameinfo-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.discount-info p {
  color: #777;
  font-size: 1em;
}

.payment-api {
  background-color: #d3d3d3;
  padding: 40px;
  text-align: center;
  font-size: 1.2em;
  color: #777;
  margin-top: 20px;
}
@media (max-width: 768px) {
    
  .reservation-confirmation h1 {
      font-size: 1.5em;
  }

  .reservation-details {
      flex-direction: column;
      gap: 20px;
  }

  .reserv-input-group>input[type="text"] {
      width: 100%; /* 작은 화면에서 입력 필드가 가득 차도록 설정 */
      margin-bottom: 15px; /* 입력 필드 간 간격 추가 */
  }

  .reserv-input-fields {
      flex-direction: column; /* 작은 화면에서 필드를 세로로 배치 */
  }


  .room-image img {
      width: 100%;
  }
}

/*RESORT-DETAIL*/
.detail-banner {
  text-align: center;
  position: relative;
}
.detail-banner h1 {
  background-color: #4a6543; /* 초록색 배경 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* 상하 여백 추가 */
  margin-top: 0; /* 위아래 여백 제거 */
  margin-bottom: 40px;
  font-size: 2em; /* 텍스트 크기 설정 */
  font-weight: bold; /* 굵은 텍스트 */
  letter-spacing: 5px;
}
.detail-banner-slider {
  position: relative;
  width: 100%;
  height: 630px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.info {
  padding: 40px 20px;
  text-align: center;
}

.info h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.location-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.map {
  flex: 1;
  margin-top: 50px;
  min-width: 300px;
  height: 200px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.public-transport {
  flex: 1;
  min-width: 300px;
  text-align: left;
}
@media (max-width: 768px) {
  .location-info {
      flex-direction: column;
  }

  .map, .public-transport {
      margin-right: 0;
      margin-bottom: 20px;
  }
}

/*ROOM-DETAIL*/
.room-intro h1 {
  background-color: #4a6543; /* 초록색 배경 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* 상하 여백 추가 */
  margin-top: 0; /* 위아래 여백 제거 */
  margin-bottom: 40px;
  font-size: 2em; /* 텍스트 크기 설정 */
  font-weight: bold; /* 굵은 텍스트 */
  letter-spacing: 5px;
}

.room-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.room-tabs button {
  background-color: #1a4d2e;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.room-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.showroom-image {
  width: 50%;
}

.room-info {
  width: 50%;
  background-color: #f5efe6;
  padding: 20px;
  border-radius: 10px;
}

.room-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.room-info p {
  font-size: 16px;
  line-height: 1.6;
}

.warnings {
  margin-top: 20px;
  background-color: #fefefe;
  padding: 15px;
  border-radius: 8px;
}

.reserve-btn {
  display: block;
  background-color: #1a4d2e;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 20px 0;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.reserve-btn:hover {
  background-color: #4a6543;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/*****/
/* 슬라이드 컨테이너 */
.showroom-slider {
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

/* 슬라이드 안의 이미지들을 나란히 배치 */
.showroom-slides {
  display: flex;
  width: 300%; /* 3개의 슬라이드가 한 줄에 배치되도록 */
  animation: slide 12s infinite; /* 슬라이드가 12초 동안 돌아감 */
}

/* 각 슬라이드의 개별 설정 */
.showroom-slide {
  width: 33.3333%; /* 슬라이드 각각의 너비 */
}

.showroom-slide img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* 애니메이션 설정 */
@keyframes slide {
  0% { transform: translateX(0); }
  33% { transform: translateX(-33.3333%); }
  66% { transform: translateX(-66.6666%); }
  100% { transform: translateX(0); }
}
@media screen and (max-width: 768px) {

  .room-content {
      flex-direction: column;
      gap: 20px;
  }

  .room-image, .room-info {
      width: 90%;
      margin: 0 auto;
  }
}

/*USER-REGISTER*/
.register-section {
  padding: 30px;
}

.register-section h1 {
  text-align: center;
  background-color: #4a6543; /* 초록색 배경 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* 상하 여백 추가 */
  margin-top: 0; /* 위아래 여백 제거 */
  margin-bottom: 40px;
  font-size: 2em; /* 텍스트 크기 설정 */
  font-weight: bold; /* 굵은 텍스트 */
  letter-spacing: 5px;
}

#register-form {
  width: 50%;
  margin: 0 auto;
}

#register-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
}

#register-form input[type="password"]{
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#register-form input[type="text"],
#register-form select {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.birthdate, .phone {
  display: flex;
  justify-content: space-between;
}

.birthdate select, .phone input {
  width: 32%;
}

.register-buttons {
  display: flex;
  justify-content: space-between;
}

.submit-btn, .cancel-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px; 
}

.submit-btn {
  background-color: #1a4d2e;
  color: #fff;
}

.cancel-btn {
  background-color: #ccc;
  color: #333;
}

.submit-btn:hover {
  background-color: #4a6543;
}

.cancel-btn:hover {
  background-color: #aaa;
}

/* 중복확인*/
.userid-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.duplicate-check-btn {
  background-color: #1a4d2e;
  color: #fff;
  border: none;
  padding: 10px 7px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -20px;
}

.duplicate-check-btn:hover {
  background-color: #4a6543;
}

.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone>input[type="text"] {
  width: 32%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



/* 마케팅 수신동의 */
.marketing-agree {
  margin-top: 30px;
  padding: 15px;
  background-color: #f0f4f3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.marketing-agree h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.marketing-agree p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.6;
}

.marketing-agree ol {
  padding-left: 20px;
  margin-bottom: 10px;
}

.marketing-agree ol li {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .marketing-agree>span {
      display: none;
  }
}

/*USER-EDIT*/
/*user-register 요소와 중복은 생략*/
.edit-section {
  padding: 30px;
  text-align: center;
}

.edit-section h1 {
  text-align: center;
  background-color: #4a6543; /* 초록색 배경 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* 상하 여백 추가 */
  margin-top: 0; /* 위아래 여백 제거 */
  margin-bottom: 40px;
  font-size: 2em; /* 텍스트 크기 설정 */
  font-weight: bold; /* 굵은 텍스트 */
  letter-spacing: 5px;
}

#edit-form {
  width: 50%;
  margin: 0 auto;
}

#edit-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
}

#edit-form input[type="text"],
#edit-form input[type="password"],
#edit-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*USER-MYPAGE*/
.mypage-section h1 {
  text-align: center;
  background-color: #4a6543; /* 초록색 배경 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* 상하 여백 추가 */
  margin-top: 0; /* 위아래 여백 제거 */
  margin-bottom: 40px;
  font-size: 2em; /* 텍스트 크기 설정 */
  font-weight: bold; /* 굵은 텍스트 */
  letter-spacing: 5px;
}

.reservation-status, .reservation-history {
  margin-bottom: 80px;
}
.reservation-status h2, .reservation-history h2 {
  color: #1a4d2e;
}
.mypage-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin-bottom: 20px;
}
.card-info-section {
  display: flex;
  align-items: center;
}
.card-info-section img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 50px;
}

.history-info p {
  margin: 5px 0;
  font-size: 18px;
}
.reserv-delete {
  background-color: transparent;
  border: 1px solid red;
  color: red;
  padding: 0 8px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: -10px;
}
.reserv-delete:hover{
  background-color: rgb(255, 90, 90);
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .mypage-card, .card-info-section {
      flex-direction: column;
      gap: 20px;
  }
  .mypage-card img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      margin: 0 auto;
  }
  .reserv-delete{
      width: 70%;
  }
}

/*EVENT*/
.event-content {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  min-height: 80vh;
  padding: 40px 0;
}
.event-section{
  margin-bottom: 50px;
}
.event-slider, .promo-slider {
  width: 100%;
  height: 500px;
  position: relative;
}

.event-slider img, .promo-slider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: none;
}

.event-slider img.active, .promo-slider img.active {
  display: block;
}

@media screen and (max-width: 768px) {
  .event-slider, .promo-slider {
      width: 100%;
      height: 800px;
      position: relative;
    }
  .event-slider img, .promo-slider img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
}

/*FACILITIES*/
.facility-title h1 {
  background-color: #4a6543; /* 초록색 배경 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* 상하 여백 추가 */
  margin-top: 0; /* 위아래 여백 제거 */
  margin-bottom: 40px;
  font-size: 2em; /* 텍스트 크기 설정 */
  font-weight: bold; /* 굵은 텍스트 */
  letter-spacing: 5px;
}
.facilities h3{
  font-size: 22px;
  color: #4a6543;
  margin-bottom: 13px;
}

/* Slider Container */
.facility-slider-container {
  display: flex;
  flex-direction: column;
  cursor: grab; /* Default cursor */
  width: 100%;
  margin-bottom: 80px;
}

.facility-grid-slider {
  display: flex;
  overflow-x: scroll; /* 스크롤 기능 유지 */
  white-space: nowrap;
  scroll-behavior: smooth;
  margin-bottom: 60px;
  will-change: scroll-position; /* GPU 가속 유도 */
  -ms-overflow-style: none;  /* IE, Edge에서 스크롤바 숨김 */
  scrollbar-width: none;     /* Firefox에서 스크롤바 숨김 */
}

/* 스크롤바 숨기기 */
.facility-grid-slider::-webkit-scrollbar {
  display: none; /* 웹킷 브라우저에서 스크롤바 숨김 */
}

.facility-grid-slider {
  -ms-overflow-style: none;  /* IE 및 Edge에서 스크롤바 숨김 */
  scrollbar-width: none;     /* Firefox에서 스크롤바 숨김 */
}

.facility-card {
  flex: 0 0 auto;
  width: 400px;
  margin-right: 50px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 15px;
}

.facility-card:hover {
  background-color: #F5EFE6;
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.facility-card img {
  width: 100%;
  height: 370px;
}
.facility-card p{
  font-weight: 600;
  color: #413A2B;
  font-size: 17px;
}
.facility-card p span{
  font-family: "Albert Sans";
}
@media (min-width: 1200px) {

  .facility-slider-container{
    width: 100%;
  }

  .fffimg{
    margin-left: 20px;
  }

  .facilities h3{
    margin-left: 20px;
  }

}
@media (max-width: 480px) {
  .facility-card {
    width: 200px;
  }

  .top-header {
    flex-direction: column;
    gap: 5px;
  }
}