main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
.reservation-confirmation h1 {
    background-color: #4a6543;
    color: #f5efe6;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 5px;
}

.reservation-confirmation h2 {
    color: #4a6543;
    font-size: 1.5em;
    margin: 40px 0 20px;
}

.reservation-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #d3d3d3;
}

.room-image{
    padding-right: 30px;
    border-right: 2px solid #A1A1A1; 
}

.room-image img {
    width: 300px;
    height: 250px;
}

.reservation-confirm-info {
    
    flex: 1;
    margin-left: 20px;
    font-size: 1em;
    line-height: 1.6;
}

.reservation-info p{
    padding: 5px 30px;
}

.guest-info,
.discount-info,
.payment-info {
    margin-top: 40px;
}

h2 {
    font-size: 1.5em;
    color: #4a6543;
    margin-bottom: 20px;
}

.reserv-input-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reserv-input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reserv-input-group label {
    width: 100px;
    font-weight: bold;
}

.reserv-input-group>input[type="text"] {
    padding: 10px;
    border: 1px solid #d3d3d3;
    width: 200px; /* 기본 너비 설정 */
    max-width: 100%; /* 화면에 맞춰 조정되도록 설정 */
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
}

.sameinfo-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.discount-info p {
    color: #777;
    font-size: 1em;
}

.payment-api {
    background-color: #d3d3d3;
    padding: 40px;
    text-align: center;
    font-size: 1.2em;
    color: #777;
    margin-top: 20px;
}
@media (max-width: 768px) {
    
    .reservation-confirmation h1 {
        font-size: 1.5em;
    }

    .reservation-details {
        flex-direction: column;
        gap: 20px;
    }

    .reserv-input-group>input[type="text"] {
        width: 100%; /* 작은 화면에서 입력 필드가 가득 차도록 설정 */
        margin-bottom: 15px; /* 입력 필드 간 간격 추가 */
    }

    .reserv-input-fields {
        flex-direction: column; /* 작은 화면에서 필드를 세로로 배치 */
    }


    .room-image img {
        width: 100%;
    }
}