* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans KR', 'Arial' sans-serif;
    background-color: #f9f9f9;
    padding-left: 15%;
    padding-right: 15%;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  main {
    max-width: 1200px;
    margin: 162px auto 0 auto;
  }
  @media screen and (max-width: 768px) {
  	body{
  		padding: 0;
  		margin: 0;
  	}
  	main {
  	 width: 100%;
     margin: 102px 0 0 0;
     padding: 0;
  	}
  }
button{
    background: inherit ; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer
  }
/*HEADER*/
  header {
      position: fixed;
      width: 100%;
      height: 102px;
      top: 0;
      left: 0;
      background-color: #1a4d2e;
      z-index: 5;
    }
    .user_login{
      position: absolute;
      top: 8px;
      right: 150px;
      font-family: "Noto Sans KR-Bold", Helvetica;
      font-weight: 500;
      color: #f5efe6;
      font-size: 24px;
      text-decoration: none;
    }
    .user_login:hover{
      text-decoration: underline;
    }
    .reserv_view {
      position: absolute;
      top: 8px;
      right: 30px;
      font-family: "Noto Sans KR-Bold", Helvetica;
      font-weight: 500;
      color: #f5efe6;
      font-size: 24px;
      text-decoration: none;
    }
    .reserv_view:hover{
      text-decoration: underline;
    }
    .logo-small {
      position: absolute;
      width: 225px;
      height: 102px;
      top: 0;
      left: calc(50% - 112.5px);
    }
    .reserv_make{
      position: absolute;
      text-decoration: none;
      top: 22px;
      left: 59px;
      font-family: "Noto Sans KR-Bold", Helvetica;
      font-weight: 700;
      color: #1a4d2e;
      font-size: 24px;
      text-align: center;
      background-color: #f5efe6;
      border-radius: 5px;
      padding: 12px 40px;
    }
    .reserv_make:hover{
      color: #f5efe6;
      background-color: #4f6f52;
      cursor: pointer;
    }
/*NAV*/
    .main-nav {
      position: fixed;
      width: 100%;
      top: 102px;
      left: 0;
  }
  .navbar {
      position: relative;
      display: flex;
      align-content: space-between;
      width: 100%;
      height: 60px;
      background-color: #f5efe699;
  }
  .navbar-menu{
     width: 25%;
     text-align: center;
     padding: 8px 0;
  }
  .navbar-menu>a{
      text-decoration: none;
      font-family: "Noto Sans KR-Medium", Helvetica;
      font-weight: 500;
      color: #1a4d2e;
      font-size: 30px;
  }
  .nav-menu{
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #f5efe699;
      display: flex;
  }
  .nav-col{
      width: 25%;
      display: none;
      z-index: 100;
  }
  .nav-col>a{
      width: 100%;
      display: block;
      text-decoration: none;
      color: #1a4d2e;
      font-weight: 500;
      text-align: center;
      font-family: "Noto Sans KR-Medium", Helvetica;
      font-size: 21px;
      padding: 15px 0;
  }
  .nav-col>a:hover{
      background-color: #c4bcb599;
  }
/*HAM,HAM-NAV*/
    .ham{
      display: none;
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
    }
    .ham div {
      width: 30px;
      height: 3px;
      background-color: #1a4d2e; 
      margin: 6px 0; 
    }
    .ham-nav{
      display: none;
      position: absolute;
      top: 102px;
      width: 100%;
      background-color: #f5efe6;
      padding: 15px;
      z-index: 100;
    }
    #ham-user-login{
      text-decoration: none;
      color: #1a4d2e;
      font-size: 20px;
      font-weight: 500;
      margin-right: 30px;
    }
    #ham-user-login:hover{
      text-decoration: underline;
    }
    #ham-reserv-view{
      text-decoration: none;
      color: #1a4d2e;
      font-size: 20px;
      font-weight: 500;
      margin-right: 30px;
    }
    #ham-reserv-view:hover{
      text-decoration: underline;
    }
    .ham-nav-col{
      text-align: left;
      width: 100%;
      background-color: #f5efe6;
    }
    .ham-nav-col>p{
      border-bottom: 1px solid #4f6f52;
      font-size: 25px;
      font-weight: 500;
      color: #1a4d2e;
      width: 100%;
      background-color: #f5efe6;
    }
    .ham-nav-col>a{
      display: block;
      text-decoration: none;
      background-color: #f5efe6;
      color: #1a4d2e;
      width: 100%;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .ham-nav-col>a:hover{
      background-color: #c4bcb599;
    }
    @media (max-width: 768px) {
      header{
        background-color: #f5efe6;
        z-index: 5;
      }
      header>a{
        display: none;
      }
      .main-nav{
        display: none;
      }
      .ham{
        display: block;
        position: fixed;
        z-index: 5;
      }
      .ham-nav{
        display: none;
      }
    }
/*FOOTER*/
footer {
    background-color: #1a4d2e;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 14px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-logo {
    max-width: 400px;
  }
  
  .footer-logo img {
    width: 150px;
    margin-bottom: 15px;
  }
  
  .footer-logo p {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  
  .footer-links ul {
    list-style-type: none;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links li strong{
    color: #f5efe6;
    font-size: 18px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    footer{
     width: 100%;
    }
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px 0;
    }
  
    .footer-logo {
      margin-bottom: 20px;
    }
  
    .footer-links {
      flex-direction: row;
      gap: 10px;
    }
  }

/*LOGIN*/
.login-background {
    background-color: #1a4d2e;
    max-width: 1200px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-image-section {
    width: 100%;
    height: 600px;
}

.login-image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-section{
    display: flex;
    flex-direction: column;
    background-color: #4f6f52;
    width: 400px;
    height: 100%;
    position: relative;
    float: right;
    margin-right: 10%;
    top: -600px;
    justify-content: center;
}

.login-container {
    background-color: #f5f1e7;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    width: 100%;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #1a4d2e;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-container input {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

#loginsubmit {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #1a4d2e;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
#userregister {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #c4bcb599;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.login-container a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #1a4d2e;
    text-align: center;
}
.login-container a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
	.login-background {
		height: 600px;
		width: 100%;
		margin: 0;
		left: 0;
	}
    .login-image-section img {
        display: none; /* �옉�� �솕硫댁뿉�꽌 �씠誘몄� �닲源� */
    }

    .login-section {
        top: 0;
        left: 0;
        margin: 0;
        float: none;
        position: absolute;
        flex: 1; /* 濡쒓렇�씤 �뤌�씠 �쟾泥� �꼫鍮꾨�� 李⑥��븯�룄濡� �꽕�젙 */
        width: 100%;
    }
}

/*RESEVATION-SELECTION*/
.reservation-section h1 {
  background-color: #4a6543; /* 珥덈줉�깋 諛곌꼍 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* �긽�븯 �뿬諛� 異붽� */
  margin-top: 0; /* �쐞�븘�옒 �뿬諛� �젣嫄� */
  margin-bottom: 40px;
  font-size: 2em; /* �뀓�뒪�듃 �겕湲� �꽕�젙 */
  font-weight: bold; /* 援듭� �뀓�뒪�듃 */
  letter-spacing: 5px;
}

.date-selection {
  text-align: center;
  margin-bottom: 50px;
}

.date-selection p {
  font-size: 1.5em; /* �뀓�뒪�듃 �겕湲곕�� �겕寃� �꽕�젙 */
  color: #1a4d2e; /* �뀓�뒪�듃 �깋�긽�쓣 �뿤�뜑 �깋�긽怨� �룞�씪�븯寃� �꽕�젙 */
  font-weight: bold; /* 媛뺤“�븯湲� �쐞�빐 援듦쾶 �꽕�젙 */
  text-align: center; /* 以묒븰 �젙�젹 */
  margin-bottom: 20px; /* �븘�옒履� �뿬諛� 異붽� */
}

.reservation-container {
  max-width: 1200px; /* �룞�씪�븳 理쒕� �꼫鍮꾨줈 �꽕�젙 (1200px) */
  margin: 0 auto; /* 以묒븰 �젙�젹 */
  display: flex;
  justify-content: center;
  padding: 30px;
}

.api-placeholder {
  flex: 2;
  background-color: #d3d3d3;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #777;
  margin-right: 30px;
}

.guest-selection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.select-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.select-input-group label {
  font-size: 1em;
  font-weight: bold;
}

.control-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control-button {
  width: 35px;
  height: 35px;
  background-color: #1a4d2e;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 0.5;
}

.control-button:hover {
  background-color: #4a6543;
}

#roomCount, #guestCount {
  width: 50px;
  text-align: center;
  font-size: 15px;
  padding: 5px 0;
  line-height: 1.5;
}

.room-search-button {
  background-color: #1a4d2e;
  color: #ffffff;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  align-self: center;
  font-size: 1.1em;
  margin-top: 20px;
}

.room-search-button:hover {
  background-color: #4a6543;
}

.recommended-rooms {
  max-width: 1200px; /* �룞�씪�븳 理쒕� �꼫鍮꾨줈 �꽕�젙 (1200px) */
  margin: 0 auto; /* 以묒븰 �젙�젹 */
  text-align: center;
  margin-top: 60px;
}

.recommended-rooms h2 {
  color: #1a4d2e;
  margin-bottom: 30px;
}

.rooms-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 40px;
  padding: 0 20px;
}

.room-card {
  border: 1px solid #e0e0e0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.room-card:hover {
  background-color: #F5EFE6;
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.room-card img {
  width: 100%;
  height: 280px; /* 怨좎젙�맂 �넂�씠 */
  object-fit: cover; /* �씠誘몄� 鍮꾩쑉 �쑀吏��븯硫댁꽌 諛뺤뒪�뿉 留욊쾶 �옄瑜닿린 */
  margin-bottom: 15px;
  border-radius: 5px; /* 議곌툑 �뜑 遺��뱶�윭�슫 �뒓�굦�쓣 �쐞�빐 異붽� */
}

.room-card p {
  text-align: center;
  color: #333;
  font-size: 18px;
}

.next-button {
  background-color: #1a4d2e;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 30px;
}

.next-button:hover {
  background-color: #4a6543;
}
/*�뙘�뾽李�*/
.room-popup{
  position: absolute;
  top: 80%;
  left: calc(50% - 400px);
  width: 800px;
  height: 500px;
  background-color: #1a4d2e;
  display: flex;
}
.room-popup img{
  width: 50%;
  height: 300px;
  margin: auto 0;
}
.room-popup-text{
  width: 50%;
  height: 100%;
  background-color: #f5efe6;
  padding: 0 30px;
  text-align: left;
}
.room-popup-text h2{
  margin-top: 80px;
}
.room-popup-select{
  display: block;
  position: relative;
  background-color: #1a4d2e;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  padding: 8px 20px;
  font-size: 15px;
  margin: 0 auto;
  top: 30%;
}
.room-popup-select:hover{
  background-color: #4a6543;
  cursor: pointer;
}
.room-popup-close{
  position: absolute;
  display: flex;
  right: 0;
  font-weight: bold;
  color: #1a4d2e;
  width: 100px;
}
.popup-close-button{
  position: relative;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #1a4d2e;
  margin: 16px 5px;
}
.popup-close-button::before, .popup-close-button::after{
  position: absolute;
  content: "";
  width: 0;
  height: 27px;
  border: 1px solid #1a4d2e;
  background-color: #1a4d2e;
  left: 9px;
  top: -4px;
}
.popup-close-button::after{
  transform: rotate(45deg);
}
.popup-close-button::before{
  transform: rotate(-45deg);
}
.room-popup-close:hover{
  cursor: pointer;
}
@media (max-width: 768px) {
  
  .reservation-container {
      flex-direction: column;
      gap: 20px;
  }

  .rooms-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .room-popup{
      flex-direction: column;
      width: 100%;
      height: 800px;
      left: 1%;
  }
  .room-popup img{
      width: 80%;
      height: 400px;
  }
  .room-popup-text{
      width: 80%;
      height: 400px;
      padding: 30px 0;
  }
  .room-popup-text>h2, .room-popup-text>p{
      margin: 50px 30px;
  }
  .room-popup>img, .room-popup-text{
      margin: 0 auto;
  }
  .room-popup-select{
      position: relative;
      width: 80%;
      top: 10%;
  }
  .room-popup-close{
      right: 10%;
  }
}

/*RESERVATION-CONFIRM*/
.reservation-confirmation h1 {
  background-color: #4a6543;
  color: #f5efe6;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 5px;
}

.reservation-confirmation h2 {
  color: #4a6543;
  font-size: 1.5em;
  margin: 40px 0 20px;
}

.reservation-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #d3d3d3;
}

.room-image{
  padding-right: 30px;
  border-right: 2px solid #A1A1A1; 
}

.room-image img {
  width: 300px;
  height: 250px;
}

.reservation-confirm-info {
  
  flex: 1;
  margin-left: 20px;
  font-size: 1em;
  line-height: 1.6;
}

.reservation-info p{
  padding: 5px 30px;
}

.guest-info,
.discount-info,
.payment-info {
  margin-top: 40px;
}

h2 {
  font-size: 1.5em;
  color: #4a6543;
  margin-bottom: 20px;
}

.reserv-input-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reserv-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reserv-input-group label {
  width: 100px;
  font-weight: bold;
}

.reserv-input-group>input[type="text"] {
  padding: 10px;
  border: 1px solid #d3d3d3;
  width: 200px; /* 湲곕낯 �꼫鍮� �꽕�젙 */
  max-width: 100%; /* �솕硫댁뿉 留욎떠 議곗젙�릺�룄濡� �꽕�젙 */
  box-sizing: border-box; /* �뙣�뵫�쓣 �룷�븿�븳 �꼫鍮� 怨꾩궛 */
}

.sameinfo-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.discount-info p {
  color: #777;
  font-size: 1em;
}

.payment-api {
  background-color: #d3d3d3;
  padding: 40px;
  text-align: center;
  font-size: 1.2em;
  color: #777;
  margin-top: 20px;
}
@media (max-width: 768px) {
    
  .reservation-confirmation h1 {
      font-size: 1.5em;
  }

  .reservation-details {
      flex-direction: column;
      gap: 20px;
  }

  .reserv-input-group>input[type="text"] {
      width: 100%; /* �옉�� �솕硫댁뿉�꽌 �엯�젰 �븘�뱶媛� 媛��뱷 李⑤룄濡� �꽕�젙 */
      margin-bottom: 15px; /* �엯�젰 �븘�뱶 媛� 媛꾧꺽 異붽� */
  }

  .reserv-input-fields {
      flex-direction: column; /* �옉�� �솕硫댁뿉�꽌 �븘�뱶瑜� �꽭濡쒕줈 諛곗튂 */
  }


  .room-image img {
      width: 100%;
  }
}

/*RESORT-DETAIL*/
.detail-banner {
  text-align: center;
  position: relative;
}
.detail-banner h1 {
  background-color: #4a6543; /* 珥덈줉�깋 諛곌꼍 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* �긽�븯 �뿬諛� 異붽� */
  margin-top: 0; /* �쐞�븘�옒 �뿬諛� �젣嫄� */
  margin-bottom: 40px;
  font-size: 2em; /* �뀓�뒪�듃 �겕湲� �꽕�젙 */
  font-weight: bold; /* 援듭� �뀓�뒪�듃 */
  letter-spacing: 5px;
}
.detail-banner-slider {
  position: relative;
  width: 100%;
  height: 630px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.info {
  padding: 40px 20px;
  text-align: center;
}

.info h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.location-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.map {
  flex: 1;
  margin-top: 50px;
  min-width: 300px;
  height: 200px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.public-transport {
  flex: 1;
  min-width: 300px;
  text-align: left;
}
@media (max-width: 768px) {
  .location-info {
      flex-direction: column;
  }

  .map, .public-transport {
      margin-right: 0;
      margin-bottom: 20px;
  }
}

/*ROOM-DETAIL*/
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.room-intro h1 {
  background-color: #4a6543; /* 珥덈줉�깋 諛곌꼍 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* �긽�븯 �뿬諛� 異붽� */
  margin-top: 0; /* �쐞�븘�옒 �뿬諛� �젣嫄� */
  margin-bottom: 40px;
  font-size: 2em; /* �뀓�뒪�듃 �겕湲� �꽕�젙 */
  font-weight: bold; /* 援듭� �뀓�뒪�듃 */
  letter-spacing: 5px;
}

.room-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.room-tabs button {
  background-color: #1a4d2e;
  font-size: 18px;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}
.room-tabs button:hover{
  background-color: #4a6543;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.room-content {
  display: flex;
  justify-content: center;
  gap: 8px;
}

/***room image***/
.showroom-image {
  width: 50%;
}
.room-info-box{
  width: 50%;
}
.room-info-A {
  position: absolute;
  max-width: 29%;
  background-color: #f5efe6;
  padding: 20px;
  border-radius: 10px;
}
.room-info-B1 {
  position: absolute;
  max-width: 29%;
  background-color: #f5efe6;
  padding: 20px;
  border-radius: 10px;
  display: none;
}
.room-info-B2 {
  position: absolute;
  max-width: 29%;
  background-color: #f5efe6;
  padding: 20px;
  border-radius: 10px;
  display: none;
}

.room-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.room-info p {
  font-size: 16px;
  line-height: 1.6;
}

.warnings {
  margin-top: 20px;
  background-color: #fefefe;
  padding: 15px;
  border-radius: 8px;
}

.reserve-btn {
  display: block;
  background-color: #1a4d2e;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 20px 0;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.reserve-btn:hover {
  background-color: #4a6543;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/*****/
/* �뒳�씪�씠�뱶 而⑦뀒�씠�꼫 */
.showroom-slider {
  width: 50%;
  height: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

/* �뒳�씪�씠�뱶 �븞�쓽 �씠誘몄��뱾�쓣 �굹���엳 諛곗튂 */
.showroom-slides {
  display: flex;
  height: 100%;
  width: 300%; /* 3媛쒖쓽 �뒳�씪�씠�뱶媛� �븳 以꾩뿉 諛곗튂�릺�룄濡� */
  animation: slide 12s infinite; /* �뒳�씪�씠�뱶媛� 12珥� �룞�븞 �룎�븘媛� */
}

/* 媛� �뒳�씪�씠�뱶�쓽 媛쒕퀎 �꽕�젙 */
.showroom-slide {
  width: 33.3333%; /* �뒳�씪�씠�뱶 媛곴컖�쓽 �꼫鍮� */
}

.showroom-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* �븷�땲硫붿씠�뀡 �꽕�젙 */
@keyframes slide {
  0% { transform: translateX(0); }
  33% { transform: translateX(-33.3333%); }
  66% { transform: translateX(-66.6666%); }
  100% { transform: translateX(0); }
}
@media screen and (max-width: 768px) {

  .room-content {
      flex-direction: column;
      gap: 20px;
      width: 100%;
      position: relative;
  }
  .showroom-slider{
      width: 100%;
      height: 400px;
  }
  .room-image, .room-info {
      width: 90%;
      margin: 0 auto;
  }
  .room-info-box{
  	  position: relative;
      width: 100%;
      height: 500px;
  }
  .room-info-A {
      position: absolute;
      max-width: 100%;
      
  }
  .room-info-B1 {
      position: absolute;
      max-width: 100%;
      display: none;
  }
  .room-info-B2 {
      position: absolute;
      max-width: 100%;
      display: none;
  }
  .reserve-btn{
      width: 50%;
      margin: 20px auto 0 auto;
  }
}

/*USER-REGISTER*/
.register-section {
  padding: 30px;
}

.register-section h1 {
  text-align: center;
  background-color: #4a6543; /* 珥덈줉�깋 諛곌꼍 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* �긽�븯 �뿬諛� 異붽� */
  margin-top: 0; /* �쐞�븘�옒 �뿬諛� �젣嫄� */
  margin-bottom: 40px;
  font-size: 2em; /* �뀓�뒪�듃 �겕湲� �꽕�젙 */
  font-weight: bold; /* 援듭� �뀓�뒪�듃 */
  letter-spacing: 5px;
}

#register-form {
  width: 50%;
  margin: 0 auto;
}

#register-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
}

#register-form input[type="password"]{
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#register-form input[type="text"],
#register-form select {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.birthdate, .phone {
  display: flex;
  justify-content: space-between;
}

.birthdate select, .phone input {
  width: 32%;
}

.register-buttons {
  display: flex;
  justify-content: space-between;
}

.submit-btn, .cancel-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px; 
}

.submit-btn {
  background-color: #1a4d2e;
  color: #fff;
}

.cancel-btn {
  background-color: #ccc;
  color: #333;
}

.submit-btn:hover {
  background-color: #4a6543;
}

.cancel-btn:hover {
  background-color: #aaa;
}

/* 以묐났�솗�씤*/
.userid-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.duplicate-check-btn {
  background-color: #1a4d2e;
  color: #fff;
  border: none;
  padding: 10px 7px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -20px;
}

.duplicate-check-btn:hover {
  background-color: #4a6543;
}

.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone>input[type="text"] {
  width: 32%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



/* 留덉��똿 �닔�떊�룞�쓽 */
.marketing-agree {
  margin-top: 30px;
  padding: 15px;
  background-color: #f0f4f3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.marketing-agree h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.marketing-agree p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.6;
}

.marketing-agree ol {
  padding-left: 20px;
  margin-bottom: 10px;
}

.marketing-agree ol li {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .marketing-agree>span {
      display: none;
  }
}

/*USER-EDIT*/
/*user-register �슂�냼�� 以묐났�� �깮�왂*/
.edit-section {
  padding: 30px;
  text-align: center;
}

.edit-section h1 {
  text-align: center;
  background-color: #4a6543; /* 珥덈줉�깋 諛곌꼍 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* �긽�븯 �뿬諛� 異붽� */
  margin-top: 0; /* �쐞�븘�옒 �뿬諛� �젣嫄� */
  margin-bottom: 40px;
  font-size: 2em; /* �뀓�뒪�듃 �겕湲� �꽕�젙 */
  font-weight: bold; /* 援듭� �뀓�뒪�듃 */
  letter-spacing: 5px;
}

#edit-form {
  width: 50%;
  margin: 0 auto;
}

#edit-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
}

#edit-form input[type="text"],
#edit-form input[type="password"],
#edit-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*USER-MYPAGE*/
.mypage-section h1 {
  text-align: center;
  background-color: #4a6543; /* 珥덈줉�깋 諛곌꼍 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* �긽�븯 �뿬諛� 異붽� */
  margin-top: 0; /* �쐞�븘�옒 �뿬諛� �젣嫄� */
  margin-bottom: 40px;
  font-size: 2em; /* �뀓�뒪�듃 �겕湲� �꽕�젙 */
  font-weight: bold; /* 援듭� �뀓�뒪�듃 */
  letter-spacing: 5px;
}

.reservation-status, .reservation-history {
  margin-bottom: 80px;
}
.reservation-status h2, .reservation-history h2 {
  color: #1a4d2e;
}
.mypage-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin-bottom: 20px;
}
.card-info-section {
  display: flex;
  align-items: center;
}
.card-info-section img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 50px;
}

.history-info p {
  margin: 5px 0;
  font-size: 18px;
}
.reserv-delete {
  background-color: transparent;
  border: 1px solid red;
  color: red;
  padding: 0 8px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: -10px;
}
.reserv-delete:hover{
  background-color: rgb(255, 90, 90);
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .mypage-card, .card-info-section {
      flex-direction: column;
      gap: 20px;
  }
  .mypage-card img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      margin: 0 auto;
  }
  .reserv-delete{
      width: 70%;
  }
}

/*EVENT*/
.event-content {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  min-height: 80vh;
  padding: 40px 0;
}
.event-section{
  margin-bottom: 50px;
}
.event-slider, .promo-slider {
  width: 100%;
  height: 500px;
  position: relative;
}

.event-slider img, .promo-slider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: none;
}

.event-slider img.active, .promo-slider img.active {
  display: block;
}

@media screen and (max-width: 768px) {
  .event-slider, .promo-slider {
      width: 100%;
      height: 800px;
      position: relative;
    }
  .event-slider img, .promo-slider img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
}

/*FACILITIES*/
.facility-title h1 {
  background-color: #4a6543; /* 珥덈줉�깋 諛곌꼍 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* �긽�븯 �뿬諛� 異붽� */
  margin-top: 0; /* �쐞�븘�옒 �뿬諛� �젣嫄� */
  margin-bottom: 40px;
  font-size: 2em; /* �뀓�뒪�듃 �겕湲� �꽕�젙 */
  font-weight: bold; /* 援듭� �뀓�뒪�듃 */
  letter-spacing: 5px;
}
.facilities h3{
  font-size: 22px;
  color: #4a6543;
  margin-bottom: 13px;
}

/* Slider Container */
.facility-slider-container {
  display: flex;
  flex-direction: column;
  cursor: grab; /* Default cursor */
  width: 100%;
  margin-bottom: 80px;
}

.facility-grid-slider {
  display: flex;
  overflow-x: scroll; /* �뒪�겕濡� 湲곕뒫 �쑀吏� */
  white-space: nowrap;
  scroll-behavior: smooth;
  margin-bottom: 60px;
  will-change: scroll-position; /* GPU 媛��냽 �쑀�룄 */
  -ms-overflow-style: none;  /* IE, Edge�뿉�꽌 �뒪�겕濡ㅻ컮 �닲源� */
  scrollbar-width: none;     /* Firefox�뿉�꽌 �뒪�겕濡ㅻ컮 �닲源� */
}

/* �뒪�겕濡ㅻ컮 �닲湲곌린 */
.facility-grid-slider::-webkit-scrollbar {
  display: none; /* �쎒�궥 釉뚮씪�슦���뿉�꽌 �뒪�겕濡ㅻ컮 �닲源� */
}

.facility-grid-slider {
  -ms-overflow-style: none;  /* IE 諛� Edge�뿉�꽌 �뒪�겕濡ㅻ컮 �닲源� */
  scrollbar-width: none;     /* Firefox�뿉�꽌 �뒪�겕濡ㅻ컮 �닲源� */
}

.facility-card {
  flex: 0 0 auto;
  width: 400px;
  margin-right: 50px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 15px;
}

.facility-card:hover {
  background-color: #F5EFE6;
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.facility-card img {
  width: 100%;
  height: 370px;
}
.facility-card p{
  font-weight: 600;
  color: #413A2B;
  font-size: 17px;
}
.facility-card p span{
  font-family: "Albert Sans";
}
@media (min-width: 1200px) {

  .facility-slider-container{
    width: 100%;
  }

  .fffimg{
    margin-left: 20px;
  }

  .facilities h3{
    margin-left: 20px;
  }

}
@media (max-width: 480px) {
  .facility-card {
    width: 200px;
  }

  .top-header {
    flex-direction: column;
    gap: 5px;
  }
}
/*MAIN-PAGE*/
/* �뒳�씪�씠�뱶 �씠誘몄� �뒪���씪 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.hero {
  position: relative; /* �옄�떇 �슂�냼瑜� �젅�� �쐞移섎줈 �꽕�젙�븯湲� �쐞�빐 �긽���쟻�쑝濡� �쐞移� �꽕�젙 */
  width: 100%; /* �뒳�씪�씠�뱶 �씠誘몄� �꼫鍮� �꽕�젙 */
  height: 600px; /* �뒳�씪�씠�뱶 �씠誘몄� �넂�씠 �꽕�젙 */
  overflow: hidden; /* �꽆移섎뒗 遺�遺� �닲湲곌린 */
}

.hero-image {
  width: 100%; /* �씠誘몄� �꼫鍮꾨�� 100%濡� �꽕�젙�븯�뿬 諛섏쓳�삎 */
  height: 100%; /* �씠誘몄� �넂�씠瑜� �뒳�씪�씠�뱶 �넂�씠�뿉 留욎땄 */
  object-fit: cover; /* �씠誘몄� 鍮꾩쑉 �쑀吏��븯硫댁꽌 �옒由щ룄濡� �꽕�젙 */
  position: absolute; /* �젅�� �쐞移� �꽕�젙 */
  top: 0; /* �긽�떒�뿉 �쐞移� */
  left: 0; /* 醫뚯륫�뿉 �쐞移� */
  opacity: 0; /* 珥덇린 遺덊닾紐낅룄 �꽕�젙 */
  transition: opacity 0.5s ease; /* 遺덊닾紐낅룄 蹂�寃� �떆 �븷�땲硫붿씠�뀡 �꽕�젙 */
}

.active {
  opacity: 1 !important; /* �솢�꽦�솕�맂 �씠誘몄��뒗 蹂댁씠寃� �꽕�젙 */
}

/* �삁�빟 諛� �뒪���씪 */

.reservation-bar {
  display: flex; /* �뵆�젆�뒪 諛뺤뒪瑜� �궗�슜�븯�뿬 媛�濡� �젙�젹 */
  justify-content: center; /* 以묒븰 �젙�젹 */
  allign-items: center;
  margin: 20px 0; /* �긽�븯 �뿬諛� �꽕�젙 */
  background-color: #f5efe6; /* 諛곌꼍�깋 �꽕�젙 */
  padding: 20px 20px; /* �궡遺� �뿬諛� �꽕�젙 */
  border-radius: 8px; /* 紐⑥꽌由� �뫁湲�寃� 泥섎━ */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* 洹몃┝�옄 異붽� */
  width: 100%; /* 媛�濡� �꼫鍮� �꽕�젙 */
}
.resevation-bar-title{
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	bottom: 20px;
}
.resevation-bar-title i{
	font-size: 40px;
	color: #1a4d2e;
	text-align: center;
	bottom: -20px;
}
.resevation-bar-title p {
  font-size: 23px; /* �젣紐� �겕湲� �꽕�젙 */
  color: #1a4d2e; /* �젣紐� �깋�긽 �꽕�젙 */
  text-align: center; /* �젣紐� 以묒븰 �젙�젹 */
}

.reservation-bar-form {
  display: flex; /* �뵆�젆�뒪 諛뺤뒪瑜� �궗�슜 */
  justify-content: space-between; /* �샃�뀡 �궗�씠�뿉 怨듦컙 遺꾨같 */
  width: 80%;
}

.bar-group {
  flex: 1; /* 媛� 洹몃９�씠 �룞�씪�븳 鍮꾩쑉濡� 怨듦컙 李⑥� */
  margin-right: 10px; /* �삤瑜몄そ 媛꾧꺽 �꽕�젙 */
  padding: 0 10px;
}

.bar-group label {
  margin-bottom: 5px; /* �젅�씠釉붽낵 �엯�젰 �슂�냼 媛꾩쓽 �뿬諛� �꽕�젙 */
  font-weight: bold; /* �젅�씠釉� �뀓�뒪�듃 援듦쾶 �꽕�젙 */
}

.bar-group input,
.bar-group select {
  padding: 10px; /* �궡遺� �뿬諛� �꽕�젙 */
  border: 1px solid #ccc; /* �뀒�몢由� �꽕�젙 */
  border-radius: 4px; /* 紐⑥꽌由� �뫁湲�寃� 泥섎━ */
  width: 90%; /* 媛�濡� �꼫鍮� 100% �꽕�젙 */
  font-size: 16px; /* �룿�듃 �겕湲� �꽕�젙 */
}

.bar-group select { 
  max-width: 100%;
}

.reservation-bar-button {
  background-color: #1a4d2e; /* 踰꾪듉 諛곌꼍�깋 �꽕�젙 */
  color: white; /* 踰꾪듉 �뀓�뒪�듃 �깋�긽 �꽕�젙 */
  padding: 5px 8px; /* 踰꾪듉 �궡遺� �뿬諛� �꽕�젙 */
  border: none; /* �뀒�몢由� �젣嫄� */
  border-radius: 4px; /* 踰꾪듉 紐⑥꽌由� �뫁湲�寃� 泥섎━ */
  font-size: 18px; /* 踰꾪듉 �뀓�뒪�듃 �겕湲� �꽕�젙 */
  cursor: pointer; /* 而ㅼ꽌 紐⑥뼇 �꽕�젙 */
  height: 50px;
  margin-top: 30px;
}

button:hover {
  background-color: #4a6543; /* �샇踰� �떆 諛곌꼍�깋 蹂�寃� */
}




/* �씠踰ㅽ듃 �꽮�뀡 �뒪���씪 */

.main-event {
  display: flex; /* �뵆�젆�뒪 諛뺤뒪瑜� �궗�슜�븯�뿬 媛�濡� �젙�젹 */
  justify-content: space-between; /* 醫뚯슦 媛꾧꺽�쓣 議곗젙 */
  align-items: flex-start; /* �긽�떒 �젙�젹 */
  background-color: #1a4d2e; /* 諛곌꼍�깋 �꽕�젙 */
  color: white; /* �뀓�뒪�듃 �깋�긽 �꽕�젙 */
  padding: 20px; /* �궡遺� �뿬諛� �꽕�젙 */
}

.main-event-container {
  display: flex; /* 媛�濡� �젙�젹 */
  flex-direction: column; /* �꽭濡� 諛⑺뼢�쑝濡� �젙�젹 */
  justify-content: center; /* 以묒븰 �젙�젹 */
  margin-left: 15px;
}

.main-event-header {
  margin-top: 50px;
  margin-bottom: px; /* �씠踰ㅽ듃 �뿤�뜑�� 踰꾪듉 媛꾩쓽 �뿬諛� �꽕�젙 */
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}
.main-event-header h2{
	color: white;
}

.event-slider-controls {
  display: flex; /* 踰꾪듉�쓣 媛�濡쒕줈 �젙�젹 */
  justify-content: center; /* 以묒븰 �젙�젹 */
  margin-top: 20px; /* 踰꾪듉怨� �뿤�뜑 媛� 媛꾧꺽 �꽕�젙 */
}
.event-slide-view{
  overflow: hidden; /* �꽆移섎뒗 遺�遺� �닲湲곌린 */
  position: relative; /* �쐞移� �꽕�젙 */
  width: 938.61px;
  height: 307px;
}
.event-slider {
  width: 2815.83px;
  display: flex; /* �씠踰ㅽ듃瑜� 媛�濡쒕줈 �젙�젹 */
}
.event-slider-box{
  display: flex;
  width: 938.61px;
  transition: transform 0.5s ease;
}

.event {
  display: flex; /* �뵆�젆�뒪瑜� �궗�슜�븯�뿬 �씠誘몄��� �젙蹂� 媛�濡� �젙�젹 */
  flex-direction: column; /* �꽭濡� 諛⑺뼢�쑝濡� �젙�젹 */
  align-items: center; /* 以묒븰 �젙�젹 */
  width: 33.3%; /* 媛� �씠踰ㅽ듃�쓽 �꼫鍮꾨�� �꽕�젙 */
}

.event img {
  width: 80%; /* �씠誘몄� �꼫鍮꾨�� 50%濡� �꽕�젙�븯�뿬 諛섏쓳�삎 */
  height: 230px; /* �씠誘몄� �넂�씠瑜� 370px濡� �꽕�젙 */
  object-fit: cover; /* �씠誘몄� 鍮꾩쑉 �쑀吏��븯硫댁꽌 �옒由щ룄濡� �꽕�젙 */
  border-radius: 8px; /* �씠誘몄� 紐⑥꽌由� �뫁湲�寃� 泥섎━ */
  margin: 0 0px; /* 醫뚯슦 媛꾧꺽 �꽕�젙 (�쇊履� 5px, �삤瑜몄そ 5px) */
}


.event-info {
  text-align: center; /* �뀓�뒪�듃 以묒븰 �젙�젹 */
  margin-top: 15px;
}


.event-slider-controls button {
  background-color: #1a4d2e; /* 踰꾪듉 諛곌꼍�깋 �꽕�젙 */
  color: white; /* 踰꾪듉 �뀓�뒪�듃 �깋�긽 �꽕�젙 */
  border: 1px solid #4a6543;
  padding: 10px 25px; /* �뙣�뵫 �꽕�젙 (�긽�븯 15px, 醫뚯슦 25px) */
  font-size: 20px; /* 踰꾪듉 �뀓�뒪�듃 �겕湲� �꽕�젙 */
  cursor: pointer; /* 而ㅼ꽌 紐⑥뼇 �꽕�젙 */
  margin: 0 5px; /* 踰꾪듉 媛� 媛꾧꺽 �꽕�젙 */
  border-radius: 5px; /* �뫁洹� 紐⑥꽌由� */
}

.event-slider-controls button:hover {
  background-color: #4a6543; /* �샇踰� �떆 諛곌꼍�깋 蹂�寃� */
}

.hidden {
  display: none; /* �닲寃⑥쭊 �슂�냼瑜� 蹂댁씠吏� �븡寃� �꽕�젙 */
}


/****/
/* �떆�꽕 �꽮�뀡 �뒪���씪 */
.main-facilities {
  display: flex; /* �뵆�젆�뒪 諛뺤뒪瑜� �궗�슜�븯�뿬 媛�濡쒕줈 �젙�젹 */
  align-items: center; /* �닔吏� 以묒븰 �젙�젹 */
  margin: 0; /* �긽�븯 �뿬諛� �꽕�젙 */
  background-color: #f5efe6;
  padding: 10px 50px;
}

.spa-image {
  flex: 1; /* �씠誘몄� �쁺�뿭�쓣 媛�濡쒕줈 �꽕�젙 */
  
}

.rectangle-3 {
  width: 130%; /* �씠誘몄��쓽 �꼫鍮꾨�� 100%濡� �꽕�젙�븯�뿬 諛섏쓳�삎 */
  height: auto; /* 鍮꾩쑉�뿉 留욊쾶 �넂�씠 �옄�룞 議곗젅 */
  max-height: 450px; /* 理쒕� �넂�씠瑜� �꽕�젙�븯�뿬 �씠誘몄� �겕湲� 議곗젙 */
}

.spa-text {
  flex: 1; /* �뀓�뒪�듃 �쁺�뿭�쓣 媛�濡쒕줈 �꽕�젙 */
  padding: 20px; /* �뀓�뒪�듃 �쁺�뿭 �뿬諛� �꽕�젙 */
  text-align: right; /* �뀓�뒪�듃 �쇊履� �젙�젹 */

}

.spa-text h2 {
  font-size: 32px; /* �젣紐� �겕湲곕�� 利앷� */
  color: #1a4d2e; /* �젣紐� �깋�긽 議곗젙 */
}

.spa-text a {
  text-decoration: none;
  font-size: 18px; /* �뀓�뒪�듃 �겕湲곕�� 利앷� */
  color: #1a4d2e; /* �뀓�뒪�듃 �깋�긽 議곗젙 */
  border-bottom: 1px solid #1a4d2e;
}
@media screen and (max-width: 768px) {
  .reservation-bar {
      flex-direction: column;
      align-items: center;
  }
  .reservation-bar-form {
      flex-direction: column;
      gap: 20px;
  }
  .bar-group input,
  .bar-group select {
      width: 100%;
  }
  .main-event {
    flex-direction: column;
    gap: 20px;
  }
  .main-event-container{
    margin: 0 auto;
  }
  .main-event-header{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0;
  }
  .main-event-header h2{
    display: none;
  }
  .main-event p{
    font-size: 25px;
  }
  .event-slider{
    max-width: 300%;
  }
  .event-slider-box{
    max-width: 100%;
    gap: 0;
  }
  .event{
    width: 22%;
  }
  
  .main-facilities {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      align-items: center;
  }
  .rectangle-3 {
      width: 100%;
  }

  .spa-text {
      text-align: center;
  }
  
}
@media screen and (max-width: 500px) {
.event{
  width: 15%;
}
}

/*CUSTOMER-CENTER*/
.customer-center h1{
  background-color: #4a6543; /* 珥덈줉�깋 諛곌꼍 */
  color: #f5efe6; 
  text-align: center;
  padding: 20px 0; /* �긽�븯 �뿬諛� 異붽� */
  margin-top: 0; /* �쐞�븘�옒 �뿬諛� �젣嫄� */
  margin-bottom: 40px;
  font-size: 2em; /* �뀓�뒪�듃 �겕湲� �꽕�젙 */
  font-weight: bold; /* 援듭� �뀓�뒪�듃 */
  letter-spacing: 5px;
}
.customer-center h2{
  text-align: center;
  font-weight: bold;
  color: #1a4d2e;
  letter-spacing: 5px;
  margin: 100px 0;
}
.customer-center-contact{
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.contact-box{
  width: 33.33%;
  padding: 50px 20px;
  color: #f5efe6;
  background-color: #4a6543;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.kakao-contact{
  background-color: #f5efe6;
  color: #4a6543;
}
.contact-box h3{
	margin-bottom: 30px;
}
.contact-box>p{
  font-size: 20px;
}
.contact-box>a{
  color: #f5efe6;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
}
.contact-box>a:hover{
  cursor: pointer;
  font-weight: bold;
}
.kakao-contact>a{
  color: #4a6543;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
}
.kakao-contact>a:hover{
  cursor: pointer;
  font-weight: bold;
}
.icon-box{
  width: 70px;
  height: 70px;
  padding: 9px;
  border: 2px solid #f5efe6;
  border-radius: 50%;
  margin: 30px 0;
}
.icon-box>i{
  font-size: 50px;
  line-height: 1;
}
.kakao-contact>.icon-box{
  width: 70px;
  height: 70px;
  padding: 9px;
  border: 2px solid #4a6543;
  border-radius: 50%;
  margin: 30px 0;
}
@media (max-width: 768px) {
  .customer-center-contact{
      flex-direction: column;
      width: 100%;
  }
  .contact-box{
      width: 95%;
  }
}