.container {
    max-width: 1200px;
    margin: 0 auto;
  }
.event-content {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    min-height: 80vh;
    padding: 40px 0;
  }
  .event-section{
    margin-bottom: 50px;
  }
  .event-slider, .promo-slider {
    width: 100%;
    height: 500px;
    position: relative;
  }
  
  .event-slider img, .promo-slider img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: none;
  }
  
  .event-slider img.active, .promo-slider img.active {
    display: block;
  }
  @media screen and (max-width: 768px) {
    .event-slider, .promo-slider {
        width: 100%;
        height: 800px;
        position: relative;
      }
    .event-slider img, .promo-slider img {
        width: auto;
        height: 100%;
        object-fit: cover;
      }
}