.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 40px 0;
}

.login-image-section {
    flex: 1;
    padding-right: 20px;
}

.login-image-slider {
    width: 1500px;
    height: 100%;
    position: relative;
}

.login-image-slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: none; /* 슬라이드 이미지를 처음엔 숨김 */
}

.login-image-slider img.active {
    display: block; /* 활성화된 이미지 표시 */
}

.login-section {
	width: 470px;
	position:absolute;
	left:1000px;
    flex: 0.4;
    background-color: #f5f1e7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #1a4d2e;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginsubmit {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #004d1a;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
#userregister {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #c4bcb599;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.login-container a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #1a4d2e;
    text-align: center;
}
.login-container a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .image-section {
        display: none; /* 작은 화면에서 이미지 숨김 */
    }

    .login-section {
        flex: 1; /* 로그인 폼이 전체 너비를 차지하도록 설정 */
        max-width: 100%;
    }
}