<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gahyun.dev.mapper.ReservationMapper">

    <!-- 현재 예약 조회 -->
    <select id="findCurrentReservations" resultType="ReservationDTO">
        SELECT 
            check_in_date AS checkInDate, 
            check_out_date AS checkOutDate,
            room_type, 
            people_count, 
            IF(breakfast_included = 1, '포함', '불포함') AS breakfastIncluded, 
            image
        FROM 
            reservations
        WHERE 
            check_in_date >= CURDATE()
    </select>

    <!-- 과거 예약 조회 -->
    <select id="findPastReservations" resultType="ReservationDTO">
        <![CDATA[
        SELECT 
            check_in_date AS checkInDate, 
            check_out_date AS checkOutDate,
            room_type, 
            people_count, 
            IF(breakfast_included = 1, '포함', '불포함') AS breakfastIncluded, 
            image
        FROM 
            reservations
        WHERE 
            check_in_date < CURDATE()
        ]]>
    </select>

</mapper>
