<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gahyun.dev.mapper.MemberMapper">
  <insert id="setInsertUser" parameterType="UserDto"
  		  useGeneratedKeys="true" keyProperty="user_id">
     insert into user
     (
        userid, password, name, user_birth, phone_num 
     )
     values
     (
       #{userid}, #{password}, #{name}, #{user_birth}, #{phone_num}
   
     )
  </insert>
</mapper>