<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src=//code.jquery.com/jquery.min.js></script>
    <script src="script.js"></script>
</head>
<body>
    <div class="main-nav">
        <div class="navbar">
          <div class="navbar-menu"><a href="#">시설소개</a></div>
          <div class="navbar-menu"><a href="#">테마파크</a></div>
          <div class="navbar-menu"><a href="#">객실</a></div>
          <div class="navbar-menu"><a href="#">공지사항</a></div>
        </div>
        <div class="nav-menu">
            <div class="nav-col">
                <a href="#">리조트소개</a>
                <a href="#">다이닝</a>
                <a href="#">편의시설</a>
                <a href="#">오락</a>
            </div>
            <div class="nav-col">
                <a href="#">루프탑</a>
                <a href="#">스파</a>
                <a href="#">휘트니스센터</a>
            </div>
            <div class="nav-col">
                <a href="#">타입A(2인실)</a>
                <a href="#">타입B(4인실, 침대O)</a>
                <a href="#">타입B(4인실, 침대X)</a>
            </div>
            <div class="nav-col">
                <a href="#">이벤트</a>
                <a href="#">문의사항</a>
                <a href="#">고객센터</a>
            </div>
        </div>
      </div>
</body>
</html>